/**General**/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



img {
    max-width: 100%;
}

.background-img{
    width: 200rem;
}
/*Inicio navegador */

.navegador{
    position: absolute;
    top: 0%;
    right: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }
  .navegador ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
     
  }
  
  .navegador a{
    color:white;
    border-radius: 0.4rem;
    margin-top: 0.6rem;
    padding: 0.8rem;
  
  }
  
  .navegador a{
    display: flex;
    text-align: center;
    padding: 1.6rem 2rem;
    text-decoration: none;
   
  }

.titulo{
    font-size: 3rem;
    position: absolute;
    top: 50rem;
    left: 30rem;
    color: white;
}

.h2-vinyl{
    color: yellow;
}

.img-logo{
    position: absolute;
    bottom: 33rem;
    left:30rem ;
    height: 25rem;
}

/*Fin navegador */


/*Inicio main */

/*Fin main */

/*Incio footer */
.footer{
    background-color: black;
    height: 20rem;
    display: flex;
    justify-content: center;
}


.img-footer img{
    height: 5rem;
}

.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
   
}

.footer a{
    color:white;
    border-radius: 0.4rem;
    margin-top: 0.6rem;
    padding: 0.8rem;
  
  }

  .footer a{
    display: flex;
    text-align: center;
    padding: 1.6rem 2rem;
    text-decoration: none;
   
  }

  .footer p{
      display: flex;
      flex-direction: column;
      color: white;
      position: absolute;
      margin-top: 7rem;
      gap: 2rem;
  }
/*Fin footer */


